<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Accueil</title>
    </head>
    <header class="flex">
        <a href="/scores" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900">Scores</a>
        <a href="/profil" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900"><%= user.username %></a>
    </header>
    <body class="bg-[url('/img/background.png')] bg-cover bg-center bg-no-repeat h-screen font-regular text-white">
        <div class="flex flex-col justify-center">
            <div class="mx-auto w-full max-w-sm bg-white p-8 rounded-lg">
                <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">Jeux</h2>
                <br>
                <div class="flex gap-3">
                    <a href="/card-game" class="flex flex-col">
                        <img src="" alt="">
                        <p class="text-gray-900">Card game</p>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>