<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/catcher.css" />
        <link rel="shortcut icon" href="/img/machine.png" type="image/x-icon" />
        <title>Catcher</title>
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    </head>
    <body class="bg-[url('/img/background.png')] bg-cover bg-center bg-no-repeat h-screen font-regular text-white">
        <header class="flex justify-center pt-10 gap-4">
            <a href="/accueil" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Accueil</a>
            <a href="/scores" class="flex justify-center rounded-md bg-yellow-400 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-yellow-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-400 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Scores</a>
            <a href="/memory" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Memory</a>
            <a href="/catcher" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Catcher</a>
            <a href="/cashier" class="flex justify-center rounded-md bg-red-900 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Cashier</a>
            <a href="/profil" class="flex justify-center rounded-md bg-red-500 px-3 py-1.5 text-3xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]"><%= user.username %></a>
        </header>
        <div id="game-container">
            <script src="games/catcherGame/js/game.js"></script>
        </div>
    </body>
</html>
