<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" href="/img/machine.png" type="image/x-icon" />
        <title>WEB CIR2</title>
    </head>
    <body class="bg-[url('/img/background.png')] bg-cover bg-center bg-no-repeat h-screen font-regular text-white">
        <div class="flex min-h-full flex-col justify-center">
            <div class="mx-auto w-full max-w-md border-2 border-black bg-white p-8 rounded-lg">
                <h1 class="text-center text-3xl font-bold tracking-tight text-gray-900">Projet WEB CIR2</h1>

                <div class="flex gap-4 mt-3">
                    <a href="/signup" class="flex w-full justify-center rounded-md bg-red-900 px-3 py-1.5 text-2xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Inscription</a>
                    <a href="/signin" class="flex w-full justify-center rounded-md bg-red-900 px-3 py-1.5 text-2xl font-semibold text-white shadow-xs hover:bg-red-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-900 [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000]">Connexion</a>
                </div>
            </div>
        </div>
    </body>
</html>
