<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body class="bg-[url('/img/background.png')] bg-cover bg-center bg-no-repeat h-screen font-regular text-white">
        <div>
            <h1>WEBCIR2</h1>
            <div>
                <a href="/signup">Inscription</a>
                <a href="/signin">Connexion</a>
            </div>
        </div>
    </body>
</html>
