/* Appliquer un style général à la page */

*{
  font-family: upheavtt;
}

body {
    background-color: #000;   /* Fond noir pour la page */
    margin: 0;                 /* Enlever les marges par défaut */
    padding: 0;                /* Enlever les espacements par défaut */
    display: flex;             /* Utiliser flexbox pour centrer le contenu */
    justify-content: center;   /* Centrer horizontalement */
    align-items: center;       /* Centrer verticalement */
    height: 100vh;             /* Remplir toute la hauteur de la fenêtre */
  }
  
  /* Cibler le canvas */
  canvas {
    display: block;            /* Enlever l'espace sous le canvas */
    margin: 0 auto;            /* Centrer le canvas horizontalement */
    width: 70%;                /* Réduire la largeur du canvas à 80% de la fenêtre */
    height: 90%;               /* Réduire la hauteur du canvas à 70% de la fenêtre */
    border: 2px solid #fff;    /* Bordure blanche autour du canvas */
    border-radius: 10px;       /* Coins arrondis */
  }
  