/* Appliquer un style général à la page */

*{
  font-family: upheavtt;
}

  /* Cibler le canvas */
  canvas {
    display: block;            /* Enlever l'espace sous le canvas */
    margin: 0 auto;            /* Centrer le canvas horizontalement */
    width: 70%;                
    height: 70%;               
    border: 2px solid #fff;    /* Bordure blanche autour du canvas */
    border-radius: 10px;       /* Coins arrondis */
  }
  